<html ng-app="SuzyProject">
<head>
    <title></title>

</head>
<body ng-controller="HomeController as c">
    
        {{c.message}}
    
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/ngApp/ass.js"></script>
</body>
</html>