
<html ng-app="SuzyModule">
<head>
    <title></title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body ng-controller="IndexController as c" > 
    <div>
         {{c.message}}
         </div>
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/ngApp/app.js"></script>
</body>
</html>